{% extends 'base.html.twig' %}

{% block css %}
	{{ parent() }}
	<link href="{{ asset('css/jobs.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block js %}
{{ parent() }}
<script type="text/javascript">
$( document ).ready(function() {
//
$( "form" ).submit(function( event ) {
  	event.preventDefault();
  	$.post( "/jobs/update",
  		$(this).serialize(),
  		function( data ) {
			console.log(data);
	});
});

});
</script>
{% endblock %}

{% block body %}
	<section id="heading">
		{% for form in jobs %}
	    	{{ form_start(form) }}
				{{ form_row(form) }}
				<input type="submit" value="Update" class="button" id="{{ loop.index }}"/>
			{{ form_end(form) }}
		{% endfor %}
		{{ form_start(newJob) }}
			{{ form_row(newJob) }}
			<input type="submit" value="Add" class="button" id="0"/>
		{{ form_end(newJob) }}
	</section>
{% endblock %}

